
<%= render "form.html", changeset: @changeset,
                        action: post_path(@conn, :update, @post),
                        post: @post,
                        admin: current_admin(@conn) %>


<br clear="all" />
<%= link "Back", to: post_path(@conn, :index) %>
