<h2>New post</h2>

<%= render "form.html", changeset: @changeset,
                        action: post_path(@conn, :create),
                        post: @post,
                        admin: current_admin(@conn) %>

<%= link "Back", to: post_path(@conn, :index) %>
