@import "fontello";

// Here go any variables you want to overwrite
$picnic-primary: #00ab6b;
// Now import picnic and a couple of plugins
@import "node_modules/picnic/src/picnic";


html,
body,
main {
    color: rgba(0,0,0, 0.8);
    background: #fafafa;
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen,Ubuntu,Cantarell,"Open Sans","Helvetica Neue",sans-serif!important;
    font-size: 16pt;
    letter-spacing: 0;
    font-weight: 400;
    font-style: normal;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    line-height: 1.4;
}

body {
  background: #fafafa;
  padding: 0 10%;
}

nav {
  padding: 0 10%;
}

nav .brand {
  padding: 0 !important;
}

h1, h2 {
    a {
      color: #222;
    }
    padding: 0.3em 0;
}

h2  {
  font-size: 22pt;
  font-weight: bold;

}

article.content.post img {
    width: 100% !important;
    height: auto !important;
}

div.progressive-container {
  margin: 0 !important;
  margin-bottom: 1em !important;
  padding: 0 !important;
  height: auto;
  background-size: 100% !important;
  background-repeat: no-repeat !important;
}

article.content.post img[data-fullsize] {
  -webkit-filter:blur(4px) grayscale(70%);
  -ms-filter:blur(4px) grayscale(70%);
  filter:blur(4px) grayscale(70%);
  margin: 0;
  display: block;
}

article.content.post iframe {
    width: 100% !important;
    min-height: 400px !important;
}


article.content.page img {
    max-width: 100%;
}

article.content.page iframe {
    width: auto !important;
    height: auto !important;
    max-width: 100%;
}


article.content.post {
  background: #fff;
  border-radius: 3px;
  border: 1px rgba(0,0,0, 0.09) solid;
  padding: 1em;
  padding-top: 0;
  box-shadow: 0 1px 4px rgba(0,0,0,.04);
  margin-bottom: 0.5em;
}

article {
  summary {
    color: rgba(0, 0, 0, .45);
    font-weight: 300;
    text-size-adjust: 100%;
    word-break: break-word;
    word-wrap: break-word;
  }
}

main {
  margin-top: 3em;
  padding: 1em 0;
}

div.sidebar {
  padding: 1em 0 0 2em;
  font-size: 11pt !important;
}


div.pagination div:first-child {
  text-align: right;
}

p.post-details {
  font-size: 10.5pt;
  span {
    font-size: 9pt;
  }
}

figure {
  margin: 0;
  padding: 0;
}
