@import "fontello";

// Here go any variables you want to overwrite
$picnic-primary: #ED8A2E;
// Now import picnic and a couple of plugins
@import "node_modules/picnic/src/picnic";


html,
body,
main {
    color: #222;
    background: #efefef;
}

body {
  background: #efefef;
}

h1, h2, h3 {
    font-weight: normal;
}


div.content.post img {
    width: 100% !important;
    height: auto !important;
}

div.content.post iframe {
    width: 100% !important;
    min-height: 400px !important;
}


div.content.page img {
    width: auto !important;
    height: auto !important;
    max-width: 100%;
}

div.content.page iframe {
    width: auto !important;
    height: auto !important;
    max-width: 100%;
}


div.content.post {
  background: #fff;
  border-radius: 2px;
  padding: 1em;
  padding-top: 0;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.2),transparent 0 0 0,transparent 0 0 0,transparent 0 0 0,transparent 0 0 0;
  margin-bottom: 2em;
}

main {
  margin-top: 3em;
  padding: 0 2em;
}

div.sidebar {
  padding: 3em 0 0 2em;
  font-size: 0.9em;
}


div.pagination div:first-child {
  text-align: right;
}