// Here go any variables you want to overwrite
$picnic-primary: #ED8A2E;
// Now import picnic and a couple of plugins
@import "node_modules/picnic/src/picnic";


html,
body,
main {
    display: block;
    color: #222;
    background: #efefef;
    width: 100%;
    height: 100%;
    margin: 0;
    z-index: 5
}


article, aside, details, figcaption, figure, footer, header, hgroup, main, nav, section, summary { display: block }

body {
  background: #efefef;
}

html {
  opacity: 1;
  transition: all .4s ease-in-out;
  -webkit-transition: all .4s ease-in-out;
}

html.wf-inactive {
    opacity: 1;
}

html.wf-loading {
  opacity: 0;
}

h1, h2, h3 {
    font-weight: normal;
}

h2 {
    font-size: 1.618em;
}



.flex>div {
    padding: 20px
}

.content {
    padding: 10px 20px 0 0;

}

.visual .flex {
    margin-top: 0
}

.visual>.card p {
    padding: 0;
    margin: 0 0 1em
}

.visual label {
    margin-right: 20px
}

.visual .tabs label {
    margin-right: 0
}

.visual .love,
.visual .name {
    display: block;
    text-align: center;
    padding: 0;
    font-weight: bold
}

.visual .card {
    overflow: visible
}


@media all and (min-width: 100px) {
    .sidebar {
        font-size: 0.8em;
    }
}



div.content.post img {
    width: 100% !important;
    height: auto !important;
}

div.content.post iframe {
    width: 100% !important;
    min-height: 400px !important;
}


div.content.page img {
    width: auto !important;
    height: auto !important;
}

div.content.page iframe {
    width: auto !important;
    height: auto !important;
}

nav {
  transition:all .4s !important;
  // background: rgba(48, 48, 48, 0.9);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  // height: 3em;
  color: #fff;
}

nav.transparent{
  box-shadow:none;
  // background: none;
  transition:all .4s !important;
  color: #222;
  vertical-align: top;
}

nav h1 {
    max-height: 0;
    overflow: hidden;
    color: transparent;
    margin-top: 0;
    margin-bottom: 0;
    padding: 0 0.3em;
    transition:all .4s !important;
}

nav.transparent h1 {
    color: #222;
    max-height: 200px;
    overflow: visible;
    transition:all .4s !important;
}

nav .brand, nav .menu, nav .burger {
    top: 50%;
    float: right;
    position: relative;
    transform: translateY(-50%);
}

nav a.brand {
  color: $picnic-primary;
}

nav .brand {
    float: left;
    max-width: 50%;
    padding: 0 0.6em;
    white-space: nowrap;
}

nav.transparent a {
    color: $picnic-primary;
}

nav .pseudo.button { color: #fff; }
nav .pseudo.button:hover { background: $picnic-primary }

nav.transparent .pseudo.button { color: #fff; }

nav.transparent .pseudo.button:hover{background: $picnic-primary}

nav div.brand-flex { 
  background: rgba(16, 16, 16, 0.9); 
  height: 3em; 
  transition: all .4s !important
}
nav.transparent div.brand-flex { 
  background: rgba(32,32,32,1); 
  height: 3em; 
  transition: all .4s !important
}

.burger {
    display: none;
}

@media all and (max-width: 960px){
  nav .menu{color:#333}
}


div.content.post {
  background: #fff;
  border-radius: 2px;
  padding: 1em;
  padding-top: 0;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.2),transparent 0 0 0,transparent 0 0 0,transparent 0 0 0,transparent 0 0 0;
  margin-bottom: 2em;
}

main {
  margin-top: 3em;
  padding-left: 2em;
}

div.sidebar {
  padding-top: 3em;
}

nav .show:checked ~ .burger {
    color: transparent;
    width: 100%;
    border-radius: 0;
    background: rgba(0, 0, 0, 0.2) !important;
    transition: all .3s ease;
}

nav .show:checked ~ .menu .button { color: #222 !important; }

div.pagination div:first-child {
  text-align: right;
}